<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

	<meta charset="UTF-8">
	<title>Hotel Images</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body class="container my-2">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
		  <div class="collapse navbar-collapse d-flex px-4 " id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
                <div class="dropdown">
                    <button class="dropbtn"><a href="{% url 'indexView' %}">Home</a></button>
			   </div>
                <div class="dropdown">
                  <button class="dropbtn"><a href="{% url 'indexView' %}">Worker</a></button>
                  <div class="dropdown-content">
                    <a href="{% url 'addWorkerByEmployee' %}">Add Worker</a>
                    <a href="{% url 'editWorkerByEmployee' %}">Edit Worker</a>
                    <a href="{% url 'displayWorkerListByEmployee' %}">Display All</a>
                  </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn"><a href="{% url 'addFraudDataByEmployee' %}">Add Data</a></button>
                </div>
                <div class="dropdown">
                     <button class="dropbtn"><a href="{% url 'displayView' %}">Display List</a></button>
                </div>
				<div class="dropdown">
				  <button class="dropbtn"><a href="{% url 'logOutView' %}">LogOut</a></button>
			   </div>
			</ul>
		  </div>
    	</nav>
    <div id="imageWrapper" class="imageWrapper" >
            <header>
                <h1>Employee Panel<br>Display List of All Fraud Person</h1>
            </header>
            <section class="content mybtn">
               {% for  count, img in dict.images %}
                    {% if img %}
                        <form class="displayForm" method="post" action="{% url 'update' %}" >
                            {% csrf_token %}
                            <div class="displaySection my-4">
                                <div class="displaySectionChild desSection my-2">
                                    <div class="desSectionChild ">
                                        <label for="name">Name:</label>
                                        <input type="text" id="name" value="{{ img.name }} " name="name" class="form-control editable" disabled>
                                    </div>
                                    <div class="desSectionChild desc ml-4">
                                        <label for="description">Description:</label>
                                        <textarea  rows="2" cols="50" id="description" name="description" class="descriptionClass form-control editable" disabled>{{ img.description }}</textarea>
                                    </div>
                                    <div class="desSectionChild ">
                                        <label for="loss">Loss: </label>
                                        <input type="text" id="loss" name="loss" value="{{ img.loss }}" class="form-control editable" disabled>
                                    </div>
                                    <div class="buttons my-3 d-flex justify-content-around" id="buttons">
                                        <input type="number" name="count" value="{{ count }}" hidden>
                                        <input type="submit" value="Delete" class=" btn btn-primary delete" id="delete" name="delete" >
                                        <input type="submit" name="save" value="Save" class=" btn btn-primary save" hidden>
                                        <input type="button" value="Modify" class=" btn btn-primary modify" id="submit">
                                        <input type="number" name="id" value="{{ img.customId }}" hidden >
                                    </div>
                                </div>
                                <div class="displaySectionChild imageSection">
                                    <img src="{{ img.image.url }}" class="rounded" />
                                </div>
                            </div>
                        </form>
                    {% endif %}
                {% endfor %}
            </section>
        </div>
    <script>
        $(document).ready(function() {
            $('.modify').click(function() {
                var hidden_fields = $(this).siblings('input:hidden');
                console.log("Hidden value: "+hidden_fields.val());
                var x = parseInt(hidden_fields.val());
                var id = $(this).next('input:hidden');
                id = parseInt(id.val());
                console.log("id: "+id);
                var value = 0;
                if( x > 0){ value = parseInt(x) * parseInt(3); }
                var allFields = document.getElementsByClassName("editable")
                for(var i=value; i<=parseInt(value+2); i++){
                   allFields[i].disabled = false;
                }
                $(this).prop("type", "hidden");
                $(this).prev('input:hidden').removeAttr("hidden");
             });
        });
        $(document).ready(function() {
            $('.delete').click(function() {
                var hidden_fields = $(this).siblings('input:hidden');
                console.log("Hidden value: "+hidden_fields.val());
                var x = parseInt(hidden_fields.val());
                var id = $(this).next('input:hidden');
                id = parseInt(id.val());
                console.log("id: "+id);
                var value = 0;
                if( x > 0){ value = parseInt(x) * parseInt(3); }
                var allFields = document.getElementsByClassName("editable")
                for(var i=value; i<=parseInt(value+2); i++){
                   allFields[i].disabled = false;
                }
             });
        });
    </script>
    {% if  not dict.message == ""  %}
        <script> alert(' {{dict.message}} '); </script>
    {% endif %}
</body>
</html>
