<!DOCTYPE html>
{% load static %}
{% if message %}
	<script type="text/javascript" language="javascript">
		alert("{{message}}");
	</script>
	{% endif %}
<html lang="en">
<head>
	<title>Login V1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	<style>
		.choice1, .choice2{
			background: linear-gradient(-135deg, #c850c0, #4158d0);
			width: 290px;
			height: 50px;
			border-radius: 10px;
			padding:10px;
			color: white;
		}
		.choice1:hover, .choice2:hover{
		background: black;
		color:white;
		}
	</style>
</head>
<body >
	<div class="limiter">
		<div class="container-login100">
			<header>
				<h1>Please Generate Password</h1>
			</header>
			<div class="wrap-login100 pb-5">
				<form class="login100-form validate-form" method="post" action="{% url 'generatePassword' %}">
					{% csrf_token %}
					<div class="radio mb-5">
					  <input type="email" name="email" placeholder="Enter your Email here" class="form-control editable email" >
					</div>
					<div class="radio mb-5">
					  <input type="password" name="password" placeholder="Enter your password here" class="form-control editable password" >
					</div>
                    <div class="radio mb-5">
					  <input type="password" name="rePassword" placeholder="ReEnter your password here" class="form-control editable rePassword" >
					</div>
					<div class="container-login100-form-btn">
                        <input type="submit" class="login100-form-btn" value="Generate" name="generate">
					</div>
				</form>
                <form action="{% url 'navigate' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Go Back" style="position: absolute; top:82%; left:61%; margin-top:37px;" class="btn btn-danger" name="exitByGenerateEmployee" >
                </form>
			</div>
		</div>
	</div>
</body>
</html>