<!DOCTYPE html>
{% load static %}
{% if message %}
<script type="text/javascript" language="javascript">
    alert('{{message}}');
</script>
{% endif %}
<html>
<head>
	<title>LogIn Form</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</head>
<body class="container">
	<div id="wrapper"  class="my-3" style="background-image: url({% static 'images/bg0.jpg' %});">
		<header>
			<h1>Facial Recognition System</h1>
		</header>
		<section class="content my-3" style="height: 500px">
			<form class="myform1" method="post" action="{% url 'validateDetailsEmployee' %}">
				{% csrf_token %}
				<h1>EMPLOYEE LOG IN</h1>
				<input type="email" name="email" placeholder="Enter email...">
				<input type="password" name="password" placeholder="Enter password...">
				<input type="submit" name="login" value="Login">

				<div class="media_signup">
					<p class="have_account">Don't have a password? <a href="{% url 'generatePassword' %}" class="signupAnchor">Generate here!</a></p>
					<p class="have_account ">Forget Password <a href="{% url 'forgotPassword' %}" >Click here</a></p>
				</div>
			</form>
			<form action="{% url 'navigate' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Go Back" style="position: absolute; top:82%; left:61%" class="btn btn-danger" name="exit">
            </form>
		</section>
	</div>
</body>
</html>